<!-- Navigation -->

<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only"></span> Menú <i class="fa fa-bars"></i>
            </button>
            <div class="navbar-brand page-scroll">
              <%= link_to pages_path, class:"scroll" , id:'pages' do %>
                <div  class="logo-container">
                    <img src="/logos/holsense_logo.png" class="img-responsive center-block" alt="HolSense">
                  <!-- <div class="navbar-text"> HolSense</div> -->
                </div>
             <!-- <img class="img_footer" src="/logos/logo-kaivo.png">-->
              <% end -%>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li >
                    <%= link_to 'Inicio', pages_path, class: "scroll", id:'pages' %>
                </li>
                <li >
                    <%= link_to '¿Quiénes somos?', us_path, class: "scroll", id:'us' %>
                </li>
                <li >
                    <%= link_to 'HolSense', holsense_path, class: "scroll", id:'holsense' %>
                </li>
                <li>
                    <%= link_to 'Contáctanos', new_contact_path, class: "scroll", id: 'new'%>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>