<!-- Navigation -->

<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <div class="navbar-brand page-scroll">
                <div class ="row" >
                    <div class="col-md-2">
                      <%= link_to pages_path, class:"scroll" , id:'pages' do %>
                        <div  class="logo-container">
                            <img src="/logos/holsense_logo.png" class="img-responsive center-block" alt="HolSense">
                          <!-- <div class="navbar-text"> HolSense</div> -->
                        </div>
                     <!-- <img class="img_footer" src="/logos/logo-kaivo.png">-->
                      <% end -%>
                    </div>
                    <div class="col-md-6 text-center">
                        <h2 style="color: #9F4A96;"> HolSense <br> <h6> <div/> <div/> Desarrollado por Kaivo </h6> </h2> 
                    </div>
                    <div class="col-md-4 text-center">
                        <h6 style="visibility: hidden;">  Desarrollado por Kaivo </h6>
                    </div>
                </div>
            </div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li >
                    <%= link_to 'Inicio', pages_path, class: "scroll", id:'pages' %>
                </li>
                <li >
                    <%= link_to '¿Quiénes somos?', us_path, class: "scroll", id:'us' %>
                </li>
                <li >
                    <%= link_to 'HolSense', holsense_path, class: "scroll", id:'holsense' %>
                </li>
                <li>
                    <%= link_to 'Contáctanos', new_contact_path, class: "scroll", id: 'new'%>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>