<!DOCTYPE html>
<html>
  <head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107137813-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-107137813-1');
    </script>
    <title>HolSense</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag href='https://fonts.googleapis.com/css?family=Montserrat:400,700' %>
    <%= stylesheet_link_tag href='https://fonts.googleapis.com/css?family=Kaushan+Script' %>
    <%= stylesheet_link_tag href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' %>
    <%= stylesheet_link_tag href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' %>
    <link rel="icon" type="image/png" href="favicon.ico">
  </head>

  <body id="page-top" class="index">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.10";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <%= render 'layouts/navigation'%>
	<!--%= render 'layouts/header' %>-->
	<div>
		<%= yield %>
	</div>
	<%= render 'layouts/footer' %>
  </body>
</html>

<script type="text/javascript">
  $(document).on('click','a',function(event){
    var clase = $(this).attr("class");
    if(clase=='scroll active'){
        event.preventDefault;
      }
  });
  $(function(){
    //alert(window.location.href);
        var largo_href = window.location.href.length;
        var ultima_letra = window.location.href[largo_href-1];
        var ultimas_letras = window.location.href.slice((largo_href - 5), largo_href.length);
        $('a').each(function(){
            if( ultima_letra == '/' || ultimas_letras == 'pages'){
              $('a#pages').parents('li').addClass('active');
              $('a#pages').addClass('active'); 
              return false;
            }
            if ($(this).prop('href') == window.location.href) {
                $(this).addClass('active'); 
                $(this).parents('li').addClass('active');
                return false;
            }
        });
    });

</script>


